{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block body_block %}

    <h1>Rango says...hello
        {% if user.is_authenticated %}
            {{ user.username }}
        {% else %}
            world
        {% endif %}
        !
    </h1>

    <h2>All Categories</h2>

    {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'rango:category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    <h2>Top Viewed Pages</h2>

    {% if pages %}
        <ol>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <p><strong>There are no pages present.</strong></p>
    {% endif %}

	<img src="{% static 'images/full-house.jpg' %}" alt="What a Full House!" width="200px" />

{% endblock %}